.sidebar {
	height: 100vh;
	background-color: silver;
	float:  left;
}

.expanded {
	width: 5%;
}

.expanded .hambuger {
	width:10px
}

.retracted {
	width: 5%
}

.hamburger {
	height:  100px;
	width: 80%;
	margin:  10%;
}

.hamburger:hover {
	cursor: pointer
}
