.header {
  height:  80px;
  width: 100%;
}


.logo {
  font-size: 18px;
  margin-top: 18px;
  font-family: monospace;
}

.logo:hover {
  cursor: pointer;
}

.username {
  font-size: 12px;
  font-weight:  600;
  margin-bottom: 8px;
}

.auth-buttons {
  line-height: 24px;
}

.auth-buttons .btn {
  margin-left: 6px;
}
