#non-fixed-content{
    position: relative;
}
.delete-icon {
    height: 16px;
    width: 16px;
    float:  right;
}

.drag-identifier {
  height: 2px;
  width: 100%;
  background-color: black;
}

.edit-pencil {
  height: 10px;
  float: right;
}

.edit-pencil:hover {
  cursor: pointer;
}

.theme-blob {
  height: 40px;
  width:  14px;
  border-radius: 4px;
}

.cta-container {
  float: left;
}

.status-container {
  float:  right;
}

.card-outline {
    margin-top: 8px;
    height: 78px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: transparent;
    opacity: 0.25;
}


.status-pill {
    background-color: grey;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 8px;
    font-size: 14px;
    padding: 2px 6px 2px 6px;
    margin-bottom: 12px;
}

.in-progress {
  background-color: #DAC57D;
}

.to-do {
  background-color: #BFB2B2;
}

.done {
  background-color: #0d471c;
  color: white;
}

.ctas-container {
  float: right;
}
