.main-timeboxes-container {
	background-color: black;
	height:  100%;
}

.timebox-goals {
	display: flex;
	width: fit-content;
}

.timebox-goal {
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 5%;
    padding: 6px;
    text-align: center;
    font-weight: 700;
    background-color: #E0BFB8;
}

.timebox-status {
	font-weight: 800;
}

.edit-pencil-container {
	float: left;
}

.delete-icon-container {
	position: relative;
	left: 20px;
}

.edit-pencil-container .edit-pencil {
	position: relative;
	right: 20px;
}
