body {
	background-color: #4ca1af;
	background-image: linear-gradient(135deg, #4ca1af 0%, #c4e0e5 100%);
	min-height:  calc(100vh + 300px);
}


.project-card {
	height: 40px;
	background-color: none;
	opacity:  0.6;
}

.card-link {
	font-size: 12px;
	line-height: 40px;
	text-decoration: none;
	color: black;
	opacity:  1;
}
