

.themes-container-expanded {
  height: fit-content;
}

.expand-icon {
  height: 30px;
  position: relative;
  float: right;
  right: 4px;
  bottom: 30px;
}

.expand-icon:hover {
  cursor: pointer;
}

.retract-icon {
  height: 30px;
  position: relative;
  float: right;
  right: 4px;
  bottom: 30px;
  transform: rotate(180deg);
}

.themes-container {
  height:  8vh;
  z-index: 1;
}

.main-themes-container {
  background-color: black;
  height:  100%;
}

 .theme {
    font-size: 18px;
    text-align: center;
    height: 40px;
    width: 90%;
    margin-left: 5%;
}

.theme:hover {
  cursor: pointer;
}

.theme-delete-icon {
  position: relative;
  top: 10px;
}

.theme-delete-icon .delete-icon {
  width: 20px;
  height:  20px;
}

.theme-title {
  width:  80%;
  float: left;
  line-height: 40px;
  margin: auto;
}

.theme-title span {
  display: inline-block;
  vertical-align: middle;
  line-height: 28px;
}

.add-theme {
  font-size: 2em;
  text-align: center;
  height: 100px;
  line-height: 100px;
  flex-direction: row;
  border:  2px solid black;
  border-radius: 10px;
}

.add-theme:hover {
  cursor: pointer;
}

.add-theme-title {
    font-size: 14px;
    line-height: 14px;
    margin-top: 4px;
    margin-bottom: 4px;
}
