.add-modal{
	background-color: whitesmoke;
	border-radius: 4px;
	width: 80%;
	height: fit-content;
	position: fixed;
	left: 10%;
	top: 7.5%;
	opacity: 1;
	z-index: 2;
  }
  
  .add-modal-bg {
	position: fixed;
	top: 0;
	left: 0;
	height:100vh;
	width: 100%;
	background-color: black;
	opacity: 0.4;
	z-index: 1;
  }


.component-container {
	background-color: whitesmoke;
	height:  100%;
	border-radius: 16px;
    box-shadow: 5px 5px 30px;
}

.component-title {
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	padding-top: 12px;
}

.goals-group .form-control {
	display: inline;
	width: 29%;
	margin-top: 6px;
	margin-left:  2%;
	margin-right:  2%;
}

.new-user-copy {
    font-size: 16px;
    margin: auto;
    text-align: justify;
}

.plus-icon {
	height: 50px;
	width: 50px;
	position: relative;
	right: 4px;
  }
  
  .plus-icon-container {
	width: 100%;
	text-align: center;
  }

  .share-icon {
	height: 20px;
	width: 20px;
  }
